---
layout: default
---

<article class="brew">
  <h1>{{ page.title }}</h1>

  <div class="brew-details">
    <table>
        <tr><td>Brew Date</td><td>{{ page.date | date: "%B %e, %Y" }}</td></tr>
        <tr><td>Yield</td><td>{{ page.yield }}</td></tr>
        <tr><td>Original Gravity (OG)</td><td>{{ page.OG }}</td></tr>
        {% if page.intermediate-gravity-readings %}<tr><td>Intermediate Gravity Readings</td><td>{{ page.intermediate-gravity-readings }}</td></tr>{% endif %}
        <tr><td>Final Gravity (FG)</td><td>{{ page.FG }}</td></tr>
        {% if page.OG %}{% if page.FG %}<tr><td class="hover-tooltip" tip="Alcohol by volume = (OG - FG) * 131.25">Estimated ABV*</td><td>{{ page.OG | minus:page.FG | times:131.25 }} &#37;</td></tr>{% endif %}{% endif %}
        {% if page.bottle-date %}<tr><td>Bottle Date</td><td>{{ page.bottle-date | date: "%B %e, %Y" }}</td></tr>{% endif %}
        {% if page.keg-date %}<tr><td>Bottle Date</td><td>{{ page.keg-date | date: "%B %e, %Y" }}</td></tr>{% endif %}
        {% if page.IBUs %}<tr><td>IBUs</td><td>{{ page.IBUs }}</td></tr>{% endif %}
    </table>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>